libraries/library/bin
libraries/library/gen
libraries/library/build
**/build
NJTransit/bin
NJTransit/gen
NJTwitter/bin
NJTwitter/push.db
NJTwitter/njtransit.json
trainapp/target
libraries/ActionBar-PullToRefresh/bin
libraries/ActionBar-PullToRefresh/gen
libraries/SmoothProgressBar/bin
libraries/SmoothProgressBar/gen
stop_times.txt
shapes.txt
trips.txt
stops.txt
routes.txt
**/.DS_Store
**/.idea
**/.gradle
**/.iml
**/reports	
trainapp/*.zip
trainapp/gtfs
gradlew
cookies.txt
headers.txt