[submodule "ActionBarSherlock"]
	path = libraries/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock
[submodule "StickyListHeaders"]
	path = libraries/StickyListHeaders
	url = https://github.com/emilsjolander/StickyListHeaders.git
[submodule "AndroidSwitchBackport"]
	path = libraries/AndroidSwitchBackport
	url = https://github.com/BoD/android-switch-backport.git
